<h1>Create a Subtask for Task: <%= @add_link = '<a href="' + "../../#{@task.id}" + '">' +  @task.title + '</a>' %></h1>

<!-- <form action="/subtasks" method="POST"> -->
<%= @form_open = '<form action="' + "../../#{@task.id}/subtasks"  + '" method="POST"' + '>' %>

<p>
  <label for="subtask_title">Subtask Title: </label>
  <input type="text" name="subtask[title]" id="subtask_title" required>
  <datalist id="subtask_title">
    <% Subtask.all.each do |subtask| %>
    <option><%= subtask.title %></option>
      <% end %>
  </datalist>
</p>

<p>
  <label for="est_time">Estimate Time to Complete:</label>
  <select id="est_time" name="subtask[estimated_duration]" required>
    <option value="five">5 minutes</option>
    <option value="ten">10 minutes</option>
    <option value="twenty">20 minutes</option>
    <option value="half">30 minutes</option>
    <option value="forty">40 minutes</option>
    <option value="hour">60 minutes</option>
    <option value="ninty">90 minutes</option>
    <option value="twohour">120 minutes</option></select>
  </p>

  <!-- no need for actual time for completely on new task form -->

  <p>
    <label for="priority">Priority:</label>
    <select id="priority" name="subtask[priority]" required>
      <option value="Low">Low</option>
      <option value="Moderate">Moderate</option>
      <option value="Important">Important</option>
      <option value="Urgent">Urgent</option></select>
  </p>

  <p>
    <label for="deadline">Must Be Done By:</label>
    <input type="date" id="deadline" name="subtask[deadline]">
  </p>

  <p>
    <label for="subtask_notes">General Notes:</label><br>
    <textarea  name="subtask[notes]" id="subtask_notes" cols="80" rows="10"></textarea>
  </p>

  <p>
    Assign Subtask to the Following User(s):<br>
    <% User.all.each do |user| %>
      <input type="checkbox" name="users[]" id="<%= 'user_' + user.id.to_s %>" value="<%= user.id %>"><%= user.username %></input><br>
    <% end %>
  </p>

  <input type="Submit" value="Create Subtask">
</form>
