<h1>Task Name:  </h1>
<%= @task.title %>


<% if @task.no_subtask == true %>
<div>
  <h1>Task Description: </h1>
   <p> This task has <b>no subtasks</b> </p>
   <p> Estimated Duration: <%= @task.estimated_duration %></p>
   <p> Deadline: <%= @task.priority %></p>
   <p> Notes: <%= @task.notes %></p>
   <p>The following user(s) is/are assigned to this task:</p>
     <ul>
        <% @subtask.users.each do |user| %>
          <li><%= user.username %></li>
       <% end%>
     </ul>
</div>

<% else %>
  <h3>Add or Delete Subtasks here: </h3>
  <h4> Current Subtasks</h4>
  <ul>
  <% @subtasks.each do |subtask| %>
    <!-- <a href = "subtasks/#{subtask.id}"><%= subtask.title %><br> -->
      <li><%= @add_link = '<a href="' + "../tasks/#{@task.id}/subtasks/#{subtask.id}" + '">' + "#{subtask.title}" + '</a>' %></li>
   <% end %>
 </ul>

   <%= @add_link = '<a href="' + "../tasks/#{@task.id}/subtasks/new" + '">' + "Add New Subtask" + '</a>' %><br>

<% end %>

<div>
  <%= @form_open = '<form action="' + "../tasks/#{@task.id}/delete"  + '" method="POST"' + '>' %>
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Task">
    </form>
</div>

<div>
   <%= @add_link = '<a href="' + "../tasks/#{@task.id}/edit" + '">' + "Edit Task" + '</a>' %><br>
</div>
<div>
  <a href="">My Profile</a>
</div>
<div>
  <a href="">Home</a>
</div>
<div>
  <a href="">Log Out</a>
</div>

<!-- #This Shows A Single Task


User Filters At Top:

Task Title, and general info:

    subtask link
    subtask link
    subtask link


(obviously if there is only a single task/subtask, no subtask link needed) -->
