<h1> <%= @task.title %> </h1>
<h3></h3>
<a href="/artists/<%= @song.artist.slug %>"> <%= @song.artist.name %> </a>
<h3>genre</h3>
<% @usertask.all.each do |genre| %>
  <a href="/genres/<%= genre.slug %>"><%= genre.name %> </a>
<% end %>

#This Shows A Single Task


User Filters At Top:

Task Title, and general info:

    subtask link
    subtask link
    subtask link


(obviously if there is only a single task/subtask, no subtask link needed)
