
<h1>Task Name:  </h1>
<%= @task.title %>
<h1> Task Status: </h1>
<% if @task.complete %><p>Complete</p><% else %><p> Incomplete </p><% end %>

<% if @no_subtask %>
  <h1>Task Description: </h1>
   <p> This task has <b>no subtasks</b> </p>
   <p> Estimated Duration: <%= @task.estimated_duration %></p>
   <p> Deadline: <%= @task.priority %></p>
   <p> Notes: <%= @task.notes %></p>
   <p>The following user(s) is/are assigned to this task:</p>
   <ul>
     <% @subtasks.each do |subtask| %>
        <% subtask.users.each do |user| %>
            <li><%= user.username %></li>
        <% end %>
      <% end %>
  </ul>
<%else%>
  <h4> Current Subtasks</h4>
  <ul>
  <% @subtasks.each do |subtask| %>
      <li><%= @add_link = '<a href="' + "../tasks/#{@task.id}/subtasks/#{subtask.id}" + '">' + "#{subtask.title}" + '</a>' %> :: <%= subtask.complete ? "Complete" : "Incomplete" %></li>
   <% end %>
  </ul>
<%end%>

<br><br><br>
<div>

  <% if !@no_subtask %>
   <%= @add_link = '<a href="' + "../tasks/#{@task.id}/subtasks/new" + '">' + "Add New Subtask" + '</a>' %><br>
  <% end %>

   <% if @can_edit %>
     <%= @form_open = '<form style="display:inline;" action="' + "../tasks/#{@task.id}/edit" + '">' %><button type="submit">Edit Task</button></form>
     <%= @form_open = '<form style="display:inline;" action="' + "../tasks/#{@task.id}/delete"  + '" method="POST"' + '>' %>
       <input id="hidden" type="hidden" name="_method" value="DELETE">
       <input type="submit" value="Delete Task">
     </form>
   <% end %>
</div>

<br><br>
<div>
  <%= @add_link = '<a href="' + "../user/#{@user.id}" + '">' + "My Profile" + '</a>' %> | <a href="../user/userhome">User Home</a> | <a href="../user/logout">Log Out</a>
</div>
